<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <img src="../images//photo-12.jpg" alt="">
            </div>
            <div class="card-body">
                <span class="tag tag-purple">technology</span>
                <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, aperiam!</p>
                <div class="user">
                    <img src="../images//photo-u1.jpg" alt="">
                    <div class="user-info">
                        <h5>Carrie Brewer</h5>
                        <small>2 h ago</small>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <img src="../images/photo-13.jpg" alt="">
            </div>
            <div class="card-body">
                <span class="tag tag-teal">popular</span>
                <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, aperiam!</p>
                <div class="user">
                    <img src="../images//photo-u3.jpg" alt="">
                    <div class="user-info">
                        <h5>alan Brewer</h5>
                        <small>6 h ago</small>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <img src="../images/photo-4.jpg" alt="">
            </div>
            <div class="card-body">
                <span class="tag tag-pink">design</span>
                <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, aperiam!</p>
                <div class="user">
                    <img src="../images/photo-u5.jpg" alt="">
                    <div class="user-info">
                        <h5>john doe</h5>
                        <small>4 h ago</small>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>