<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Modal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <form class="model">
            <header class="model_header">
                <h3>Add a New Flow</h3>
                <small>Lorem ipsum dolor sit amet consectetur.</small>
            </header>
            <div class="flow-name">
                <label for="">Flow Name</label>
                <input type="text" placeholder="Name your flow">
                
            </div>
            <div class="flow">
                <label for="">Flow Start delay</label>
                <div class="flow-input">
                    <div class="flow-input-1">
                       <input type="number" placeholder="300" id=""> 
                       <span>ms</span>
                    </div>
                    <div class="flow-input-2">
                        <input type="checkbox" name="" id="">
                        <label for="">Traversable </label> <span>?</span>
                    </div>
                    
                </div>
            </div>
            <div class="advance">
                
                <h3><i class="fas fa-angle-down"></i>Advance settings</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <div class="block-3">
                    <div>Auto</div>
                    <div>Url</div>
                    <div>
                        <h4>Manual</h4>
                        <small>Advance</small>
                    </div>
                </div>
                <div class="start-with">
                    <div class="select-container">
                        <select name="" id="">
                            <option value="">Start With</option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                        </select>
                    </div>
                    <div class="url-container">
                        <span>/</span>
                        <input type="text">
                    </div>
                </div>
                <div class="add-another">
                    <a href="#"> + Add anothwe</a>
                </div>
                <div class="description">
                    <p>Lorem ipsum, dolor sit amet consectetur dolor sit ame adipisicing elit. Reiciendis, iste!</p>
                </div>
            </div>
            <div class="save-flow">
                <button class="btn btn-default" type="reset">cancel</button>
                <button class="btn btn-main">Save</button>
            </div>
        </form>
    </div>
</body>
</html>