<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card user</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h3>Trending creators</h3>
            <div class="card_item">
                <div class="card_ussr">
                    <img src="../images//w1.jpg" alt="">
                    <h4>Amy Adams</h4>
                    <small>2300 Followers</small>
                </div>
                <button class="join">Join</button>
            </div>
            <div class="card_item">
                <div class="card_ussr">
                    <img src="../images/photo-u4.jpg" alt="">
                    <h4>Jonnet jackson</h4>
                    <small>2300 Followers</small>
                </div>
                <button class="join">Jion</button>
            </div>
            <div class="card_item">
                <div class="card_ussr">
                    <img src="../images/woman-2.jpg" alt="">
                    <h4>sara chembell</h4>
                    <small>2300 Followers</small>
                </div>
                <button class="join">join</button>
            </div>
            <div class="card_item">
                <div class="card_ussr">
                    <img src="../images/photo-u1.jpg" alt="">
                    <h4>ket winslet</h4>
                    <small>2300 Followers</small>
                </div>
                <button class="join">Jion</button>
            </div>
            <div class="card_item">
                <div class="card_ussr">
                    <img src="../images/photo-u5.jpg" alt="">
                    <h4>lindsy lohan</h4>
                    <small>2300 Followers</small>
                </div>
                <button class="join">join</button>
            </div>
        </div>
        <!-- <div class="card info">
            <div class="card_info">
                <h3>premuam account</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <button class="join">join</button>
            
        </div> -->
    </div>
</body>
</html>